asgiref==3.12.1
Django==6.1
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
PyJWT==2.7.0
python-dotenv==1.2.2
sqlparse==0.6.0
gunicorn==23.0.0
whitenoise>=6.5.0

